h1 {
    border: 2px #eee solid;
    color: rgb(83, 170, 185);
    text-align: center;
    padding: 10px;
}

#map {
	height: 100vh;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.userbuttons {
	display: flex;
	position: absolute;
	margin-bottom: 25px;
	margin-right: 15px;
    right: 0;
	bottom: 0;
	justify-content: space-between;
	flex-direction: column-reverse;
}

.btn-circle {
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 10px 16px;
	border-radius: 50px;
	font-size: 12px;
	text-align: center;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
	font-family:Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
}

.marker-close-button {
	cursor: pointer;
	
	border: none;
	padding: 5px;
	font-size: 35px;
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	margin: 0;
	padding-left: 10px;
	border-radius: 3px;
	background: none;
}

.marker-buttons {
	top: 30px;
	right: 40px;
	position: absolute;
	display: flex;
}

.active-marker-popup .marker-close-button .marker-buttons {
	opacity: 1;
}

.active-marker-popup .marker-popup {
	max-width: 768px;
	right: 0%;
	z-index: 99999;
	bottom: 0px;
}

.marker-popup{
	position: absolute;
	background-color:#fff;
	max-height: 600px;
	height: 100%;
	overflow: hidden;
	display: none;
	transform:translate(0%);
	padding: 35px 55px;
	border-radius: 30px 30px 0 0;
	font-family: 'Poppins',sans-serif;
	border: 5px solid rgba(17, 17, 17, 0.3)
}

@media (min-width: 768px) {
	.marker-popup {
		transition: transform 0.3s ease-in-out;
		transform:translate(50%);
	}

	.active-marker-popup .marker-popup {
		max-height: 600px;
		height: 100%;
		max-width: 1100px;
		width: 100%;
		display: block;
		transition: transform 0.3 ease-in-out;
		
		right:50%;
	}
	/* This is used to control where the leaflet-bottom controls go once the marker is clicked (its active)
	/*
	.active-marker-popup .leaflet-bottom {
		transform: translateY(-485px);
		transition: transform 350ms;
	}
	*/
}