<!doctype html>
<html>
    <head>
        <!-- bootstrap 
        Replaced with a more updated (version 5.2.1) of bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <!-- Bootstap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <!-- vegalite 
        <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
        -->

        <!-- leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

        <!-- leaflet control geocoder -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <!-- leaflet fullscreen -->
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

        <!-- autocomplete -->
        <script src="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.8.5/dist/js/autocomplete.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.8.5/dist/css/autocomplete.min.css"/>

        <!-- web css -->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

        <!-- title -->
        <title>DS11 Web App</title>
    </head>

    <style>
      /*The styles here are used for test purposes*/

      /*Marker clicked popup*/


      .marker-close-button {
        cursor: pointer;
        
        border: none;
        padding: 5px;
        font-size: 35px;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        margin: 0;
        padding-left: 10px;
        border-radius: 3px;
        background: none;
      }

      .marker-buttons {
        top: 30px;
        right: 40px;
        position: absolute;
        display: flex;
      }

      .active-marker-popup .marker-close-button .marker-buttons {
        opacity: 1;
      }

      .active-marker-popup .marker-popup {
        max-width: 768px;
        right: 0%;
        z-index: 99999;
        bottom: 0px;
      }

      .marker-popup{
        position: absolute;
        background-color:#fff;
        max-height: 600px;
        height: 100%;
        overflow: hidden;
        display: none;
        transform:translate(0%);
        padding: 35px 55px;
        border-radius: 30px 30px 0 0;
        font-family: 'Poppins',sans-serif;
        border: 5px solid rgba(17, 17, 17, 0.3)
      }

      @media (min-width: 768px) {
        .marker-popup {
          transition: transform 0.3s ease-in-out;
          transform:translate(50%);
        }

        .active-marker-popup .marker-popup {
          max-height: 600px;
          height: 100%;
          max-width: 1100px;
          width: 100%;
          display: block;
          transition: transform 0.3 ease-in-out;
          
          right:50%;
        }
        /* This is used to control where the leaflet-bottom controls go once the marker is clicked (its active)
        /*
        .active-marker-popup .leaflet-bottom {
          transform: translateY(-485px);
          transition: transform 350ms;
        }
        */
      }

    </style>
    <body>
        <!-- doesn't work btw 
        <button onclick="BackToTop()" id="topbtn">Up</button>
        -->

        <!-------------------------------------------------------------->
        <!-------------------------------------------------------------->
        <!-------------------------------------------------------------->
        <!-- Create popup when a non-police marker is clicked-->
        <div class="marker-popup">
          <div class="marker-buttons">
            <a id="crime-vis" href="" target="_blank">
              <button type="button" class="btn btn-primary">Crimes in this area</button>
            </a>
            <button class="marker-close-button" onclick= "markerClose()">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          
          <div>
            
            <h2 class="card-title" style="font-size: 40px; padding-bottom: 30px">
              Report marker
            </h2>
           
          </div>
          <div class="data-vis-content" style="height: 100%">
            
            <div class="row marker-body" style="height: 90%">
              <div class="col my-3" style="height: 100%">
                <div class="card">
                <div class="card-body">
                  <h2 id="marker-title" class="card-title">
                    Cale Jane Sullivan Marker reports
                  </h1>
                  <h5 id="marker-danger-rating" class="card-text">
                    Danger rating of report: 5
                  </h5>
                  <h5 id="marker-area-recc" class="card-text">
                    Willingness to return to the area: 5
                  </h5>
                  <p id="marker-description" class="card-text">
                    Dangerous/aggressive drivers
                  </p>
                </div>  
              </div>
              </div>
              <div id="review-container" class="col" style="height: 100%; overflow-y: scroll">
                
                
              </div>

            </div>
            
          </div>
        </div>

        <!-------------------------------------------------------------->
        <!-------------------------------------------------------------->
        <!-------------------------------------------------------------->
        <!-- Map and review and report buttons -->
        <div id="map">
          <div class="leaflet-control userbuttons">
            <button type="button" onclick= "reportClicked()" class="btn btn-primary btn-circle reportbtn">Report</button>
            <button type="button" onclick = "reviewClicked()" class="btn btn-primary btn-circle reviewbtn">Review</button>
            <h2 id="DRating">0.00</h2>
            <h5>Safety Rating</h5>
          </div>
        </div>

          
      </body>

        <!-- This is for test purposes
        <iframe src="{{ url_for('static', filename= 'html/reportform.html') }}" title="Report Form">
        </iframe>
        -->

        <!--
        <div id="Info_bubble"></div>
        -->

        <script type="text/javascript">
            /* doesn't work btw 
            topbtn = document.getElementById("topbtn");
            window.onscroll = function() {scrollFunction()};
            function scrollFunction() {
              if (document.body.scrollTop > 260 || document.documentElement.scrollTop > 260) {
                topbtn.style.display = "block";
              } else {
                topbtn.style.display = "block";
              }
            }

            function BackToTop() {
              document.documentElement.scrollTop = 0;
            }
            */
            
            var user_coord = 0;

            const policeMarkerData = {{policeStations | tojson}};
            const reportMarkerData = {{reports | tojson}};
            const reviewMarkerData = {{reviews | tojson}};
            const suburbData = {{suburbs | tojson}};
            const sublgaData = {{subLGAs | tojson}}
            const crimeData = {{crimes | tojson}};
            
            // console.log(reviewMarkerData);
            // console.log(suburbData);
            // console.log(sublgaData);
            // console.log(crimeData);

            var sublgaDict = {};
            sublgaData.forEach(el => sublgaDict[el[0]] = el[1]);
            // console.log(sublgaDict);

            var crimeDict = {};
            crimeData.forEach(el => crimeDict[el[0]] = el[1]);
            // console.log(crimeDict);
            

            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //Create and initialize map
            var map = L.map('map', {
              // center: [-37.815, 144.964],
              center: [-37.813, 144.957],
              zoom: 17,
              minZoom: 5,
              maxZoom: 17,
              fullscreenControl: true,
            });

            const ini_bounds = map.getBounds();
            var ini_cnt = 0
            for (let i = 0; i < policeMarkerData.length; i++) {
              const curr_lat = policeMarkerData[i][7];
              const curr_lng = policeMarkerData[i][8];
              if (curr_lat >= ini_bounds._southWest.lat && curr_lat <= ini_bounds._northEast.lat && curr_lng >= ini_bounds._southWest.lng && curr_lng <= ini_bounds._northEast.lng) {
                ini_cnt++
              }
            };

            const ini_boundarea = (ini_bounds._northEast.lat - ini_bounds._southWest.lat) * (ini_bounds._northEast.lng - ini_bounds._southWest.lng)
            const pol_dense = ini_cnt/ini_boundarea;
            
            updateInfo();

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '© OpenStreetMap'
            }).addTo(map);


            //---------------------------------------------------------------
            //---------------------------------------------------------------
            // --------------------------------------------------------------
            // create seearch button

            // add "random" button
            const buttonTemplate = `<div class="auto-search-wrapper max-height"><input type="text" id="marker" autocomplete="off"  aria-describedby="instruction" aria-label="Search ..." /><div id="instruction" class="hidden">When autocomplete results are available use up and down arrows to review and enter to select. Touch device users, explore by touch or with swipe gestures.</div></div>`;

            // create custom button
            const customControl = L.Control.extend({
              // button position
              options: {
                position: "topright",
                className: "leaflet-autocomplete",
              },

              // method
              onAdd: function () {
                return this._initialLayout();
              },

              _initialLayout: function () {
                // create button
                const container = L.DomUtil.create(
                  "div",
                  "leaflet-bar " + this.options.className
                );

                L.DomEvent.disableClickPropagation(container);

                container.innerHTML = buttonTemplate;

                return container;
              },
            });

            // adding new button to map controll
            map.addControl(new customControl());

            // --------------------------------------------------------------

            // input element
            const root = document.getElementById("marker");
            root.placeholder = "Search ...";

            // function click on clear button
            function clickOnClearButton() {
              document.querySelector(".auto-clear").click();
            }

            // function clear input
            map.on("click", () => {
              document
                .querySelector(".leaflet-autocomplete")
                .classList.remove("active-autocomplete");

              clickOnClearButton();
            });

            // autocomplete section
            // more config find in https://github.com/tomik23/autocomplete
            // --------------------------------------------------------------

            new Autocomplete("marker", {
              delay: 250,
              selectFirst: true,
              howManyCharacters: 2,

              onSearch: function ({ currentValue }) {
                const api = `https://nominatim.openstreetmap.org/search?format=geojson&limit=5&q=${encodeURI(
                  currentValue
                )}`;

                /**
                 * Promise
                 */
                return new Promise((resolve) => {
                  fetch(api)
                    .then((response) => response.json())
                    .then((data) => {
                      resolve(data.features);
                    })
                    .catch((error) => {
                      console.error(error);
                    });
                });
              },

              onResults: ({ currentValue, matches, template }) => {
                const regex = new RegExp(currentValue, "i");
                // checking if we have results if we don't
                // take data from the noResults method
                return matches === 0
                  ? template
                  : matches
                      .map((element) => {
                        return `
                          <li role="option">
                            <p>${element.properties.display_name.replace(
                              regex,
                              (str) => `<b>${str}</b>`
                            )}</p>
                          </li> `;
                      })
                      .join("");
              },

              onSubmit: ({ object }) => {
                const { display_name } = object.properties;
                const cord = object.geometry.coordinates;
                // custom id for marker
                // const customId = Math.random();

                // remove last marker
                map.eachLayer(function (layer) {
                  if (layer.options && layer.options.pane === "markerPane") {
                    if (layer._icon.classList.contains("leaflet-marker-locate")) {
                      map.removeLayer(layer);
                    }
                  }
                });

                // add marker
                const marker = L.marker([cord[1], cord[0]], {
                  title: display_name,
                });

                // add marker to map
                marker.addTo(map).bindPopup(display_name);

                // set marker to coordinates
                map.flyTo([cord[1], cord[0]], 16);

                // add class to marker
                L.DomUtil.addClass(marker._icon, "leaflet-marker-locate");

                console.log(user_coord);
              },

              // the method presents no results
              noResults: ({ currentValue, template }) =>
                template(`<li>No results found: "${currentValue}"</li>`),
            });

            L.control.scale().addTo(map);
            
            // var marker = L.marker([-37.815, 144.964]).addTo(map);
            var marker = L.marker([-35, 143]).addTo(map);
            marker.bindPopup("<b>Hello world!</b><br>I am a centre popup.");

            //Bind the markerMenu function to this marker (for testing purposes)
            marker.on("click", openMarkerMenu);

            /* old search
            var geocoder = L.Control.geocoder({
              defaultMarkGeocode: false,
              collapsed: false,
              showUniqueResult: false,
              showResultIcons: true,
            })
              .on('markgeocode', function(e) {
                map.setView(center = e.geocode.center,16)
                var marker2 = L.marker(e.geocode.center).addTo(map);
                marker2.bindPopup(e.geocode.name).openPopup();
              })
              .addTo(map);
            */

            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //The report markers
            //Create a custom report marker
            reportMarker = L.Marker.extend({
            options: { 
                title: 'title',
                description: 'description',
                datetime: 'datetime',
                suburb_id: 'suburb_id',
                safety_level: 'safety_level',
                willingness_to_return: 'willingness_to_return'
              }
            });

            for (let i = 0; i < reportMarkerData.length; i++) {
              
              var repMarker = new reportMarker([reportMarkerData[i][5], reportMarkerData[i][6]], { 
                  title: reportMarkerData[i][1],
                  description: reportMarkerData[i][2],
                  datetime: reportMarkerData[i][3],
                  suburb_id: reportMarkerData[i][4],
                  safety_level: reportMarkerData[i][7],
                  willingness_to_return: reportMarkerData[i][8]
              });
              repMarker.addTo(map);
              repMarker.on("click", openMarkerMenu);
              console.log(repMarker);
            }
             

            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //The popup marker (for when a non-police marker is clicked) code
            
            //Function to open/close the marker
            function openMarkerMenu(e){
              target = e.target;
              console.log(target);

              var title = document.getElementById('marker-title');
              var dangerRating = document.getElementById('marker-danger-rating');
              var areaRecc = document.getElementById('marker-area-recc');
              var vislink = document.getElementById('crime-vis');
              var description = document.getElementById('marker-description');
              var revContainer = document.getElementById('review-container');

              // sublgaDict[target.options.suburb_id]

              console.log(target.options.suburb_id);
              
              title.innerHTML=target.options.title;
              dangerRating.innerHTML = "Danger rating of report: "+target.options.safety_level;
              areaRecc.innerHTML = "Willingness to return to the area: "+target.options.willingness_to_return;
              vislink.href = "https://public.tableau.com/views/Report_V2_test/3?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:embed_code_version=3&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:language=en-US&:device=desktop&Local%20Government%20Area="+sublgaDict[target.options.suburb_id]+"&:loadOrderID=0";
              description.innerHTML = target.options.description;

            
              //Get review list numbers
              var reviewList = []
              console.log(reviewMarkerData);
              for (let i = 0; i < reviewMarkerData.length; i++) {
                if (reviewMarkerData[i][4] == target.options.suburb_id){
                  reviewList.push(reviewMarkerData[i])
                }
              }

              console.log(reviewList);
              
              while (revContainer.hasChildNodes()) {
                revContainer.removeChild(revContainer.firstChild);
              }
              
              for (let i = 0; i < reviewList.length; i++) {
                
                var xmlString = "<div id='outRev' class='my-3 card'> <div class='card-body'> <h2 id='rev-title' class='card-title'>Cale Jane Sullivan Marker reports</h2> <p id='rev-description' class='card-text'>Dangerous/aggressive drivers</p> <h6 id='rev-danger-rating' class='card-text'>Area Rating: 5</h6></div>  </div>";
                var revHtml = new DOMParser().parseFromString(xmlString, "text/html");

                var revtitle = revHtml.getElementById('rev-title');
                var revrating = revHtml.getElementById('rev-danger-rating');
                var revdesc = revHtml.getElementById('rev-description');

                
                revtitle.innerHTML=reviewList[i][1];
                revdesc.innerHTML = reviewList[i][2];
                revrating.innerHTML = "Review safety rating: " + reviewList[i][5];

                revContainer.appendChild(revHtml.getElementById('outRev'));

              }

               



              if (
                document.body.classList.contains("active-marker-popup")
                ) {
                  document.body.classList.remove("active-marker-popup");
              } else {
                  document.body.classList.add("active-marker-popup");
              }
                
            }
            //Function to close a marker popup using the close appeneded close button
            function markerClose(){
              
              document.body.classList.remove("active-marker-popup");
              
            }

            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //Create report and review button functionality

            //When report/review buttons are clicked
            function reportClicked() {


              //coordinates to send
              var coordToSend = {
                lat : user_coord.lat,
                lon : user_coord.lng
              };
              const params = new URLSearchParams({
                lat: user_coord.lat,
                lng: user_coord.lng,
              });
              console.log(params)
              window.location.replace("/reportform"+"?"+params.toString());

            }
            
            function reviewClicked() {
              //coordinates to send
              var coordToSend = {
                lat : user_coord.lat,
                lon : user_coord.lng
              };
              const params = new URLSearchParams({
                lat: user_coord.lat,
                lng: user_coord.lng,
              });
              console.log(params)
              window.location.replace("/reviewform"+"?"+params.toString());

            }

            /*
            function reviewClicked() {
              document.getElementById('map').style.display = "none";
              document.getElementById('reviewForm').style.display = "";
            }
            */

            //When any buttons on report/review forms are clicked
            function formEnd() {
              document.getElementById('map').style.display = "";
              document.getElementById('reportForm').style.display = "none";
              document.getElementById('reviewForm').style.display = "none";
            }
            
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //police markers things
            var PoliceIcon = L.icon({
              iconUrl: "https://raw.githubusercontent.com/qsun0018/3179/main/icon1.png",
              iconSize: [80, 80],
              iconAnchor: [20, 58],
              popupAnchor: [20, -30],
            });

            for (let i = 0; i < policeMarkerData.length; i++) {
              L.marker([policeMarkerData[i][7], policeMarkerData[i][8]], {icon:PoliceIcon}).addTo(map).bindPopup('<b>'+policeMarkerData[i][1]+' police station</b><br>'+'Address: '+policeMarkerData[i][3]+'<br>Phone Number: '+policeMarkerData[i][6])
            } 

            
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //current location
            map
              .locate({
                // https://leafletjs.com/reference-1.7.1.html#locate-options-option
                setView: true,
                enableHighAccuracy: true,
              })
              // if location found show marker and circle
              .on("locationfound", (e) => {
                console.log(e);
                // marker
                user_coord = e.latlng;
                const marker = L.marker([e.latitude, e.longitude]).bindPopup(
                  // "You are within " + e.accuracy + " metres from here"
                  "You are here"
                );
                // circle
                const circle = L.circle([e.latitude, e.longitude], e.accuracy / 2, {
                  weight: 2,
                  color: "red",
                  fillColor: "red",
                  fillOpacity: 0.1,
                });
                // add marker
                // map.addLayer(marker);
                updateInfo();
                // add circle
                // map.addLayer(circle);
                // setview custom
                // map.setView(center = [e.latitude, e.longitude], 13)
              })
              // if error show alert
              .on("locationerror", (e) => {
                console.log(e);
                alert("Location access denied.");
              });

            map.on("dragend", updateInfo);
            map.on("zoomend", updateInfo);

            function updateInfo() {
              const bounds = map.getBounds();
              var cnt = 0
              for (let i = 0; i < policeMarkerData.length; i++) {
                const pol_lat = policeMarkerData[i][7];
                const pol_lng = policeMarkerData[i][8];
                if (pol_lat >= bounds._southWest.lat && pol_lat <= bounds._northEast.lat && pol_lng >= bounds._southWest.lng && pol_lng <= bounds._northEast.lng) {
                  cnt++
                }
              };

              const boundarea = (bounds._northEast.lat - bounds._southWest.lat) * (bounds._northEast.lng - bounds._southWest.lng)
              // console.log(bounds);
              // console.log((cnt/boundarea)/pol_dense);

              const rep_safety_arr = [];
              const rep_again_arr = [];
              for (let i = 0; i < reportMarkerData.length; i++) {
                const rep_lat = parseFloat(reportMarkerData[i][5]);
                const rep_lng = parseFloat(reportMarkerData[i][6]);
                if (rep_lat >= bounds._southWest.lat && rep_lat <= bounds._northEast.lat && rep_lng >= bounds._southWest.lng && rep_lng <= bounds._northEast.lng) {
                  rep_safety_arr.push(5-reportMarkerData[i][7]);
                  rep_again_arr.push(5-reportMarkerData[i][8]);
                }
              }

              // console.log(rep_safety_arr);
              // console.log(rep_again_arr);

              const curr_subs = [];
              var curr_lgas = [];
              for (let i = 0; i < suburbData.length; i++) {
                const sub_lat = parseFloat(suburbData[i][1]);
                const sub_lng = parseFloat(suburbData[i][2]);
                if (sub_lat >= bounds._southWest.lat && sub_lat <= bounds._northEast.lat && sub_lng >= bounds._southWest.lng && sub_lng <= bounds._northEast.lng) {
                  curr_subs.push(suburbData[i][0]);
                  curr_lgas.push(sublgaDict[suburbData[i][0]]);
                }
              }

              curr_lgas = [...new Set(curr_lgas)];
              curr_lgas = curr_lgas.filter(el => {return el !== undefined;});

              // console.log(curr_subs);
              // console.log(curr_lgas);

              const rev_safety_arr = [];
              for (let i = 0; i < reviewMarkerData.length; i++) {
                if (curr_subs.includes(reviewMarkerData[i][4])) {
                  rev_safety_arr.push(reviewMarkerData[i][5]-1);
                }
              }            
              
              // console.log(rev_safety_arr);

              const crime_safety_arr = [];
              for (let i = 0; i < curr_lgas.length; i++) {
                crime_safety_arr.push(crimeDict[curr_lgas[i]]);
              }

              // console.log(crime_safety_arr);
              // console.log(Math.max(...Object.values(crimeDict)));

              var pol_safety = (Math.log10(((cnt/boundarea)/pol_dense) + 0.01)+2)*5;
              var rep_safety = ((rep_safety_arr.reduce((a,b) => a + b, 0) / rep_safety_arr.length)/4)*10;
              var rep_again = ((rep_again_arr.reduce((a,b) => a + b, 0) / rep_again_arr.length)/4)*10;
              var rev_safety = ((rev_safety_arr.reduce((a,b) => a + b, 0) / rev_safety_arr.length)/4)*10;
              var crime_ave = 10-((crime_safety_arr.reduce((a,b) => a + b, 0) / crime_safety_arr.length)/Math.max(...Object.values(crimeDict)))*10;

              if (isNaN(rep_safety)) {
                rep_safety = 5
              }

              if (isNaN(rep_again)) {
                rep_again = 5
              }

              if (isNaN(rev_safety)) {
                rev_safety = 5
              }

              if (isNaN(crime_ave)) {
                crime_ave = 5
              }

              console.log("pol_safety", pol_safety);
              console.log("rep_safety", rep_safety);
              console.log("rep_again", rep_again);
              console.log("rev_safety", rev_safety);
              console.log("crime_ave", crime_ave);

              const tot_safety = 0.2 * pol_safety + 0.2 * rep_safety + 0.2 * rep_again + 0.2 * rev_safety + 0.2 * crime_ave;
              document.getElementById("DRating").innerHTML = tot_safety.toFixed(2);
            }
            
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //---------------------------------------------------------------
            //vegalite things
            /*
            vega.scheme('Tol_muted', ['#88ccee', '#44aa99', '#117733', '#332288', '#ddcc77', '#999933', '#cc6677', '#882255', '#aa4499', '#dddddd']);
            vega.scheme('Tol_light', ['#bbcc33', '#aaaa00', '#77aadd', '#ee8866', '#ddcc77', '#eedd88', '#ffaabb', '#99ddff', '#44bb99', '#dddddd']);
          
            var bubble = "static/js/Info_bubble.vg.json";
            vegaEmbed('#Info_bubble', bubble, {"actions": false}).then(function(result) {
              // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
            */
            
          </script>
    </body>
</html>